
@{
    ViewBag.Title = "Registration Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Completed</h2>
    <p>
        Registration process is completed, please check your email for login details. If you dont see the email, kindly check your spam folder. Thank you.
    </p>
<p>
    @Html.ActionLink("Login", "Login", "Login")
</p>
