
@{
    ViewBag.Title = "Registration Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password Link Sent</h2>
    <p>
        Reset link sent to your email, please check the link within an hour. Thank you.
    </p>
<p>
    @Html.ActionLink("Login", "Login", "Login")
</p>
